<!DOCTYPE html>
<html lang="en">
<head>
  {{ if .Params.img }}
    {{ $imgUrl := .Params.img | absURL }}
    <meta name="og:image" content="{{ $imgUrl }}" />
    {{ end }}
  <meta name="description" content="{{ .Description }}" />
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ .Description }}" />
  {{ partial "head.html" . }}
</head>
<body>
  <header>{{ partial "header.html" . }}</header>
  <main>
    {{ if .Params.img }}{{ partial "hero.html" . }}{{ end }}
    <article>
      <header>
        <h1>{{ .Title }}</h1>
        {{ if .Date }}<span class="meta">{{ .Date.Format "2006-01-02" }}</span>{{ end }}
        {{ if .Site.Params.mapURL }}<span class="meta"><a target="_blank" href="{{ .Site.Params.mapURL }}">Joey's Google Earth Project</a></span>{{ end }}
      </header>
      <section>{{ .Content }}</section>
    </article>
    <div>
      {{ with .PrevInSection }}<a href="{{ .RelPermalink }}">{{ partial "teaser.html" . }}</a>{{ end }}
      {{ with .NextInSection }}<a href="{{ .RelPermalink }}">{{ partial "teaser.html" . }}</a>{{ end }}
    </div>
  </main>
</body>
</html>
