<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ if .Params.img }}
    {{ $imgUrl := .Params.img | absURL }}
    <meta name="og:image" content="{{ $imgUrl }}" />
    {{ end }}
  <meta name="description" content="{{ .Description }}" />
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ .Description }}" />
  {{ partial "head.html" . }}
</head>
<body>
  <header>{{ partial "header.html" . }}</header>
  <main>
    {{ if .Params.img }}{{ partial "hero.html" . }}{{ end }}
    <article>
      <header>
        <h1>{{ .Title }}</h1>
        <span class="meta">{{ .Date.Format "2006-01-02" }}</span>
      </header>
      <section>{{ .Content }}</section>
    </article>
  </main>
</body>
</html>
