<!DOCTYPE html>
<html lang="en">
  <head>{{ partial "head.html" . }}</head>
  <body>
    <header>{{ partial "header.html" . }}</header>
    <main>
      <article>
        <header>
        {{ $title := index $.Site.Params.categories .Title | default .Title }}
        <h1>{{ $title }}</h1>
        </header>
        <section>
          <ul class="teaser-list">
            {{ range (.Paginate .Pages.ByTitle 20).Pages }}
            <li>
              <a href="{{ .RelPermalink }}">
                {{ partial "teaser.html" . }}
              </a>
            </li>
            {{ end }}
          </ul>
          {{ template "_internal/pagination.html" . }}
        </section>
      </article>
    </main>
  </body>
</html>