<!doctype html>
<html lang="en">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta name="description" content="{{ .Site.Params.description }}" />
        <meta name="og:title" content="{{ .Site.Title }}" />
        <meta name="og:description" content="{{ .Site.Params.description }}" />
        <meta
            name="og:image"
            content="https://innesarts.uk/img/life/torrent-creusaz/3840.avif"
        />
        {{ partial "head.html" . }}
    </head>
    <body>
        <header>{{ partial "header.html" . }}</header>
        <main>
            <article>
                <p>This is a brief and opinionated handbook for speedflying safely.</p>
                <p>By writing this book, my goal is to offer good information and sound advice for pilots of all abilities. This is not a replacement for instruction. This resource is intended to augment proper guidance from schools and experienced pilots.</p>
                <p>The opinions in this book are my own, and you should question everything. Some will disagree, and that is ok. Let's discuss it as a community on Discord.</p>
                <p>I write this to provide a free resource, aimed at increasing the safety of our sport. This is a resource that I did not have when I began flying.</p>
                <p>I also share some practices that help to strengthen the relationships that we must foster with lift stations and farmers, in order to preserve access to our precious flying sites.</p> 
                <p>The source of this book can be found in the site <a href="https://github.com/intob/speedflying-book">Git repository</a>. I invite you to create an issue or pull request for any changes. Contributors will be credited on this page.</p>
                <p>Thanks to Jamie Lee for his feedback and input.</p>
                <p>Peace &amp love,<br>Joey</p>
            </article>
        </main>
    </body>
</html>
